{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block styles %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">{% endblock %}
{% block content %}
    {% block menu %}
        <li><a href="" class="down">Categories <i class="fas fa-angle-down"></i></a>
          <ul class="submenu">
              {% for product in products %}
                  <li><a href="{% url 'product_category' product.category.pk %}">{{ product.category }}</a></li>
              {% endfor %}
          </ul>
        </li>
{% endblock %}
    <h1>Продукты:</h1>
    <div class = "products">
        {% if basket %}
        {% for product in basket %}
        <div class="card">
            <div class="card-content">
                <h3>{{ product.product.name }}<a href="{% url 'basket_delete' product.product.pk %}"><i class="far fa-trash-alt card-button"></i></a></h3>
                <p>Количество: {{ product.amount }}шт. <br/>
                    по цене {{ product.product.price }} за ед.</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>Пусто</p>
        {% endif %}
         <h2>Итого: {{ total }}</h2>
        <h3>Ordering: </h3>
        {% url 'basket_view' as action_url %}
        {% include 'partial/form.html' with action_url=action_url form_method='post' %}
    </div>
{% endblock %}
