{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block styles %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">{% endblock %}
{% block content %}
    {% block menu %}
        <li><a href="" class="down">Categories <i class="fas fa-angle-down"></i></a>
          <ul class="submenu">
              {% for category in categories %}
                  <li><a href="{% url 'webapp:product_category' category.pk %}">{{ category.name }}</a></li>
              {% endfor %}
          </ul>
        </li>

{% endblock %}
    <h1 style="margin-top: 10%">Продукты:</h1>
    {% include 'partial/product_list.html' with products=products %}
{% endblock %}
